services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: php_performance
    volumes:
      - ./:/app
    command:
      - /bin/bash
      - -c
      - |
        sleep infinity
    deploy:
      resources:
        limits:
          memory: 512M
          # Limita a 2 núcleos de CPU (pode usar decimais como 0.5 para meio núcleo)
          cpus: '2.0'
        reservations:
          # Reserva garante que o container tenha no mínimo isso disponível
          cpus: '0.5'
          memory: 128M
    restart: "no"
